*{
    margin: 0;
    padding: 0;
}
body{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../images/back_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 450px;
    
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
    overflow: hidden;
}
.logo_left{
    width: 10%;
    float: left;
}
.logo_left h2{
    font-size: 20px;
}
.logo_left p{
    font-size: 12px;
    letter-spacing: 3.5px;
}
.menu{
    float: right;
   
}
.menu ul{}
.menu ul li{
    list-style: none;
    display: inline-block;
   
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
}
.menu ul li a:hover{
    color: rgb(28, 167, 46);
}
.menu ul li:last-child a{
   padding: 7px 15px;
    border: 1px solid #fff;
    border-radius: 50px;
}
.content{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}
.content h3{
    font-style: italic;
}
.mar_b{
    width: 50px;
    border: 1px solid #fb2056;
    margin: 10px auto;
}
.content h1{
    margin: 20px 0;
    font-size: 48px;
}
.content button{
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fb2056;
    
    
}
.content button:hover{
    background-color: rgb(82, 32, 175);
    transition: .5s;
    
}
.content button a{
    letter-spacing: 3.5px;
    text-decoration: none;
    color: #fff;                 
}
/*end kjkjljjjkhjkhjkhjkhjkhjjjjbjjmjjjhjhjjh */
.header_bottum{
    background-color: #c1c1c5;
    padding: 50px;
    
  
}
.content_area{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
.header_bottum blockquote{
    color: rgb(14, 12, 12);
    font-style: italic;
}
.header_bottum p{
    letter-spacing: 3.5px;
    margin: 20px 0 0 0;
    color: #404041;
    font-weight: 600;
}
/*Header Bottum End*/

.upcoming{
    color: black;
    text-align: center;
}
.container2{
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}
.top_section{
    margin: 60px 0;
    
}
.top_section h2{}
.up_bott{
    overflow: hidden;
    
}
.up_bott p{}
.up_bott .bott_left{
    float: left;
    width: 46%;
    box-sizing: border-box;
    margin-right: 6%;

}
.bott_left img{
    width: 100%;
    box-shadow: 7px 7px 0px rgb(184, 179, 179);
}

.left_marg{
    margin: 40px 0;
}
.left_marg h2{
    
}
.left_marg p{
    padding: 20px;
    line-height: 1.5;
    color: #6f6f74;
}
.left_marg a{
    text-decoration: none;
    color: #fb2056;
    letter-spacing: 3.5px;
    font-weight: 600;
}

.bott_right{
    float: left;
    width: 47%;
    box-sizing: border-box;
}
.bott_right img{
    width: 99%;
    box-shadow: 7px 7px 0px rgb(184, 179, 179);
}
.right_marg{
    margin: 40px 0;
}
.right_marg h2{}
.right_marg p{
    padding: 20px;
    line-height: 1.5;
    color: #6f6f74;
}
.right_marg a{
    text-decoration: none;
    color: #fb2056;
    letter-spacing: 3.5px;
    font-weight: 600;
}
/*Upcoming Section End*/


.explore_bg{
    
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4)), url(../images/back_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    margin: 40px 0;
}
.explore{
    width: 50%;
    padding: 30px;
    float: right;
    box-sizing: border-box;
    
}
.explore_bg .explore h1{
    padding: 20px 40px 10px 0;
    font-size: 48px;
}
.ex_div{
    width: 50px;
    border: 1px solid #fb2056;
    margin: 0 0 40px 0;
}
.explore_bg .explore p{}
.explore a{
    text-decoration: none;
    color: #faf3f5;
    letter-spacing: 3.5px;
    margin-top: 23px;
    display: block;

}
/*Explore End*/

.tour{
    margin: 50px 0;
}

.tour_left{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.tour_left h2{
    color: #0d0d0e;
    margin-bottom: 20px;
}
.tour_left p{
    color: #404041;
}
.tour_left button{
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    background-color: #fb2056;
    letter-spacing: 3.5px;
    margin-top: 30px;
    font-size: 14px;
    color: #faf3f5;
    
}

.img_section{
    width: 100%;
}
.tour_right{
    
}
.tour_right .left_i{
    width: 32.5%;
    float: left;
   
}
.left_i .left_itop{
    width: 100%;
}
.left_i .left_ibott{
    width: 100%;
}

.right_i{
    width: 32%;
    float: right;
}
.right_i .right_itop{
    width: 100%;
}
.right_i .right_ibott{
    width: 100%;
}

/*Tour End*/
footer{
    padding: 30px 0;
    background-color: #222224;
    text-align: center;
}
footer p{

}
footer h3{
    font-size: 14px;
    padding: 20px 0;
}
footer a{
   
    color: #faf3f5;
    
}





